{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
  },
  "extends": [
    "@cabe",
    "@cabe/typescript",
    "plugin:react/recommended",
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "react/display-name": 0,
    "react/prop-types": 0,
  }
}
